__pycache__/
.ipynb_checkpoints/


data/
trash/
analysis/figures/property_*/
analysis/figures/system_frequency/
analysis/3d*/
weekly_report/
analysis/final_data_quality/
analysis/stage3_task_relatedness/matches.csv.gz
